.header-center{
    display: flex;
    justify-content: center;
    align-content: center;
}

.forgetpassword-right{
    display: flex;
    justify-content: right;
    align-content: right;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 120px;
    height: auto;
}